<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Room Bookings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="bg_clouds">
    <div id="main">
        
        <div id="logo">
          <h2>Royal World Bar Room Booking List</h2>
      </div>
        <br />
        
        <div id="header"> 
            <div id="buttons">
              <a href="#" class="but"  title="">Home</a>
              <a href="#" class="but" title="">Login</a>
              <a href="#"  class="but" title="">Register</a>
              <a href="https://royalworldbarnew.herokuapp.com/admin/roombookings"  class="but" title="">Room Booking</a>
              <a href="#"  class="but" title="">Food Booking</a>
              <a href="#"  class="but" title="">Logout</a>
            </div>
        </div>
    
    </div>
</div>

<div id="page">
	<form action="#" method="post">

	<!-- <h1>Room Bookings</h1> -->

	<table cellspacing="1" cellpadding="5" border="1">
		<tr>
			<th>DocumentID</th>
			<th>Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Booking Type</th>
			<th>Room</th>
			<th>Date</th>
			<th>Time</th>
			<th>Visit</th>
			<th>Message</th>
			<th>Reference</th>
			<th>Status</th>
			<th>Action</th>
		</tr>

	<% data.forEach(function(roombooking){ %>
		<tr>
			<td><%= roombooking.doc_id %></td>
			<td><%= roombooking.name %></td>
			<td><%= roombooking.phone %></td>
			<td><%= roombooking.email %></td>
			<td><%= roombooking.appointment %></td>
			<td><%= roombooking.room %></td>
			<td><%= roombooking.date %></td>
			<td><%= roombooking.time %></td>
			<td><%= roombooking.visit %></td>
			<td><%= roombooking.message %></td>
			<td><%= roombooking.ref %></td>
			<td><%= roombooking.status %></td>
			<td><a href="updateroombooking/<%= roombooking.doc_id %>">Edit</a>  | <a href="">Delete</a> </td>
		</tr>
	<% }); %>

	</table>
	</form>
</div>

<br />

<div id="footer">
&copy; 2020-2021 royalworldbar.com All Right Reserved
</div>

</body>
</html>